<app-loading [loading]="loading"></app-loading>
<form action="" #formValidate="ngForm" *ngIf="!loading">
  <input type="hidden" id="uuid" name="uuid" [(ngModel)]="marca.uuid" />

  <alert-message
    *ngIf="isErroAlert"
    destaq="Ocorreu um erro!"
    [message]="alertMensagem"
  ></alert-message>

  <alert-message-success
    *ngIf="isSuccessAlert"
    destaq="Sucesso!"
    [message]="alertMensagem"
  ></alert-message-success>

  <div class="row">
    <div class="form-group col-md-12">
      <label for="nome" class="col-form-label">Marca</label>
      <span class="mot-span-validate" *ngIf="nomeValidate.invalid">*</span>
      <input
        type="text"
        #nomeValidate="ngModel"
        class="form-control"
        id="nome"
        minlength="2"
        maxlength="100"
        name="nome"
        required
        [(ngModel)]="marca.nome"
      />
    </div>
  </div>

  <div class="row mt-5">
    <div class="form-group col-md-6">
      <a
        class="btn btn-secondary"
        [routerLink]="['/lista-marcas']"
        routerLinkActive="router-link-active"
        >Cancelar/Sair</a
      >
      <button
        type="button"
        class="btn btn-success"
        style="margin-left: 5px"
        (click)="salvar()"
        [disabled]="formValidate.invalid"
      >
        Salvar
      </button>
    </div>
  </div>
</form>
