<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card-box bg-blue">
        <div class="inner">
          <h3>{{ home.total_os }}</h3>
          <p>Total de Serviços</p>
        </div>
        <div class="icon">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        </div>
        <a [routerLink]="['/lista-ordem-servicos']" class="card-box-footer"
          >Detalhar <i class="fa fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card-box bg-orange">
        <div class="inner">
          <h3>{{ home.os_abertas }}</h3>
          <p>Serviços Abertos</p>
        </div>
        <div class="icon">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
        </div>
        <a [routerLink]="['/lista-ordem-servicos']" class="card-box-footer"
          >Detalhar <i class="fa fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card-box bg-green">
        <div class="inner">
          <h3>{{ home.total_faturamento | currency: 'BRL' }}</h3>
          <p>Total Faturamento</p>
        </div>
        <div class="icon">
          <i class="fa fa-money" aria-hidden="true"></i>
        </div>
        <a [routerLink]="['/lista-ordem-servicos']" class="card-box-footer"
          >Detalhar <i class="fa fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card-box bg-red">
        <div class="inner">
          <h3>{{ home.total_clientes }}</h3>
          <p>Clientes Cadastrados</p>
        </div>
        <div class="icon">
          <i class="fa fa-users"></i>
        </div>
        <a [routerLink]="['/lista-clientes']" class="card-box-footer"
          >Detalhar <i class="fa fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card">
        <div class="card-header">
          Faturamento nos últimos 6 meses
        </div>
        <div class="card-body">
          <div>
            <div style="display: block">
              <canvas baseChart
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [legend]="barChartLegend"
                      [chartType]="'bar'">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card">
        <div class="card-header">
          Faturamento por Tipo
        </div>
        <div class="card-body">
          <div style="display: block">
            <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="'pie'"
                [colors]="pieChartColors">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/bar-chart']">Bar Chart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/doughnut-chart">Doughnut Chart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/radar-chart">Radar Chart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pie-chart">Pie Chart</a>
      </li>
    </ul>
    <div>
        <router-outlet></router-outlet>
    </div>
  </div> -->
</div>
